{% extends 'base.html' %}

{% block title %}
About - Customer Request Classification App
{% endblock %}

{% block content %}
<div class="d-flex justify-content-center align-items-center vh-100" style="background: linear-gradient(to bottom, #b0c4de, #ffffff);">
  <div class="container p-5 rounded-lg shadow-lg" style="background-color: #ffffff;">
    <h1 class="text-center mb-4" style="font-family: 'Montserrat', sans-serif;">About - Customer Request Classification App</h1>
    <p>Welcome to the Customer Request Classification App! This app is designed to classify customer queries into different categories based on their content. It utilizes machine learning models to predict the category of a given customer query.</p>
  </div>
</div>

<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
{% endblock %}
